// Full View Mode
.l-node-frontpage--full {
  @include grid-row($behavior:nest);
  &__form,
  &__featured-vehicles {
    @include grid-column(12);
    @media #{$medium-only} { @include grid-column(6); }
    @media #{$large-up} { @include grid-column(9); }
  }
  &__images {
    width: 100%;
    margin-bottom: 15px;
    @media #{$medium-up} {
      float: right;
      width: 320px;
      margin-left: 15px;
    }
  }
  &__latest-vehicles {
    @include grid-column(12);
    @media #{$medium-only} { @include grid-column(6); }
    @media #{$large-up} { @include grid-column(3); }
  }
  &__search {
    @include grid-column(12);
    @media #{$medium-up} { @include grid-column(3); }
  }
  &__slideshow {
    @include grid-column(12);
    @media #{$medium-up} { @include grid-column(12); }
  }
  &__videos {
    width: 100%;
    @media #{$medium-up} {
      float: right;
      clear: right;
      width: 320px;
      margin-left: 15px;
    }
  }
  &__title { @include grid-column(9); }
  &__content { @include grid-column(9); }
  &__body-two { @include grid-column(4); }
  &__promotional-blocks{ @include grid-column(12); }

}
