// Slideshow Images Bundle
.node-slideshow-images {
  position: relative;

  .field-name-field-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 18px;
    color: #fff;
    text-align: left;
    font-size: rem-calc(16);
    background-color: rgba(0,0,0,.5);

    // Medium Up Only
    @media #{$medium-up} {
      font-size: rem-calc(24);
    }
  }
}
