// Tabs
.tabs {
  li {
    @media #{$small-only} { width: 100%; }
  }
}

// Tabs Content
.tabs-content {

  // New & Used Vehicle Gallery
  &--node-new-vehicle-gallery,
  &--node-new-vehicle-cap,
  &--node-used-vehicle-gallery {
    .content {
      padding: 0;
      .videos { @include block-grid(1); }
    }
  }
  &--node-new-vehicle-cap {
    padding: 20px;
    background-color: $secondary-color;
  }

}
