.contain-to-grid{
  background: #000000;
  }
.top-bar {
  background: #000000;
  #main-menu {
    .menu-icon {
        padding-right: 15px;
        }
        @media #{$large-up} {
          display: table;
          width: 100%;
      & > li {
          display: table-cell;
          float: none;
          text-align: center;
          background: #000000;
        .menu-icon {
          padding-top: 8px;
          padding-bottom: 8px;
          }
        a.active {
        // background-color: $topbar-link-bg-hover;
          background: #000000;
        }
      }
    }
    li a{
      background: #000000;
      font-size: .9375rem;
      font-weight: 400;
      }
  }
}
