@import "../../zurb_foundation/scss/foundation/functions";

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$row-width: rem-calc(1100);

// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

$primary-color: #cc0000;
$secondary-color: #333;
$body-bg: #fff;
$body-font-color: #000;

// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$header-top-margin: 0;
$h1-font-size: rem-calc(26);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: rem-calc(16);
$h1-font-reduction: 0 !default;
$h2-font-reduction: 0 !default;
$h3-font-reduction: 0 !default;
$h4-font-reduction: 0 !default;
$h5-font-reduction: 0 !default;
$h6-font-reduction: 0 !default;
$paragraph-font-size: rem-calc(14);
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: rem-calc(15);

// d. Media Query Ranges
// Any changes to the ranges should be reflected in the theme breakpoints,
// used by the Picture Module (set in the info file). iVendi breakpoints are
// set within the feature, this should be considered if using iVendi.
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small-range: (0em, 47.9375em);
$medium-range: (48em, 63.9375em);
$large-range: (64em, 90.9375em);
$xlarge-range: (90em, 120.9375em);
$xxlarge-range: (120em, 99999999em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// 04. Breadcrumbs
// - - - - - - - - - - - - - - - - - - - - - - - - -

$crumb-bg: transparent;
$crumb-padding: 0;
$crumb-font-size: rem-calc(14);
$crumb-font-transform: capitalize;
$crumb-link-decor: none;

// 05. Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

$button-tny: rem-calc(8);
$button-sml: rem-calc(10);
$button-med: rem-calc(12);
$button-lrg: rem-calc(14);
$button-font-tny: rem-calc(10);
$button-font-sml: rem-calc(12);
$button-font-med: rem-calc(14);
$button-font-lrg: rem-calc(16);

// 31. Tabs
// - - - - - - - - - - - - - - - - - - - - - - - - -

$tabs-navigation-padding: rem-calc(10);
$tabs-navigation-bg-color: $secondary-color;
$tabs-navigation-active-bg-color: $primary-color;
$tabs-navigation-font-color: #fff;
$tabs-navigation-active-font-color: #fff;

// 33. Tooltips
// - - - - - - - - - - - - - - - - - - - - - - - - -

$has-tip-border-bottom: none;
$has-tip-font-color: $primary-color;
$has-tip-border-bottom-hover: none;
$has-tip-font-color-hover: none;

// 34. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$topbar-bg-color: $secondary-color;
$topbar-height: rem-calc(70);
$topbar-margin-bottom: rem-calc(20);
$topbar-link-font-size: rem-calc(16);
$topbar-link-bg-hover: lighten($topbar-bg-color, 8%);
$topbar-dropdown-bg: $topbar-bg-color;
$topbar-dropdown-link-bg: $topbar-bg-color;
$topbar-dropdown-link-bg-hover: $topbar-link-bg-hover;
$topbar-breakpoint: #{lower-bound($large-range)};
$topbar-media-query: $large-up;
