.l-footer {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: $secondary-color;
  &__first,
  &__second,
  &__third,
  &__fourth { @include grid-column(12); }
  &__inner { @include grid-row(); }
}
