.l-header {
  padding-top: 20px;
  padding-bottom: 20px;
  &__contact-details { @include grid-column(6); }
  &__inner { @include grid-row(); }
  &__logo { @include grid-column(6);
        width:100%;
        padding-left: 0px;
      }//__logo
    .site-slogan {
        @include grid-column(9);
        text-align: center;
        position: relative;
        margin-top: 30px;
        clear:both
        }
    .site-slogan span {
        font-size: 1.1875rem;
        color: #e0e0e1;
        letter-spacing: 2px;
        display: inline-block;
        background: #000;
        padding-left: 20px;
        padding-right: 20px;
        }
    .site-slogan:after {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        background: #e0e0e1;
        bottom: 50%;
        left: 0;
        z-index: -1;
        }
}//l-header
