.l-main {
  &__inner { @include grid-row(); }
  .l-main-content {
    @include grid-column(12);
    &.l-main-content--with-sidebar {
      @media #{$medium-up} {
        @include grid-column($columns:9,$push:3);
      }
    }
  }
  .l-sidebar {
    @include grid-column(12);
    @media #{$medium-up} { @include grid-column($columns:3,$pull:9); }
  }
}
body {
    background: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: "Droid Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    position: relative;
  }
