// Promotional Blocks View
.view-promotional-blocks {

  // Homepage Display
  &.view-display-id-homepage {
    .view-promotional-blocks__list {
      @include block-grid(1);
      @media #{$medium-only} { @include block-grid(2); }
      @media #{$large-up} { @include block-grid(3); }
    }
  }

  // Sidebar Display
  &.view-display-id-page_blocks,
  &.view-display-id-sidebar {
    .view-promotional-blocks__list { @include block-grid(1); }
  }

}
